.Zone_Section {
    padding:  25px;
}

.Zone_Section .frcmPU {
    border:0;
}
.Zone_Section .rdt_Table {
    border: 1px solid rgba(0, 0, 0, .12);
    border-bottom: 0;
}
.Zone_Section .cyUAch:hover {
    color: #181D27;
    background-color: #E9EFFA;
    outline-color: rgba(0, 0, 0, .06);
    border-bottom-color: rgba(0, 0, 0, .06);
}
.Zone_Section .frcmPU {
    color: #535862;
}
.Zone_Section .eBVvRK {
    font-size: 14px ;
    color:#181D27;
}
.Zone_Section .frcmPU {
    color: #535862;
}
.Zone_Section .kMgreK {
    min-height: 46px;
}
.Zone_Section .gxvszF {
    color: #535862;
    font-size: 13px;
}
.Zone_Section .cyUAch {
    min-height: 44px;
    color:#181D27;
}
.Zone_Section .hXgQeh {
   min-height: 44px;
   color:#181D27;
}
.Zone_Section  .hXgQeh:hover {
    color: #181D27;
    background-color: #E9EFFA;
    outline-color: rgba(0, 0, 0, .06);
    border-bottom-color: rgba(0, 0, 0, .06);
}


.btn-primary {
  background-color: #E9EFFA;
  border-color: #2162CD; 
  color:#2162CD;
  padding: 7px 16px;
  border-radius:  8px;
  font-style: normal;
  font-weight: 400;  

}

.btn-primary:hover, .btn-primary:focus {
   background-color: #2162CD;
   border-color: #2162CD;
   color: #fff;
   box-shadow: none;
}

.modal-footer .btn-primary:hover, .modal-footer .btn-primary:focus,
.form-actions .btn-primary:hover, .form-actions .btn-primary:focus
 {
   background-color: #BACEF0;
   border-color: #2162CD;
   color: #2162CD;
   box-shadow: none;
}

.btn-primary.actv:hover, .btn-primary.actv:focus {
    background:#174692;
    color:#fff;
}

.btn-primary:disabled{
  background-color: #F6F7FC;
  border-color: #F6F7FC;
  color:#B3B5BD;
}
.btn-primary:disabled {
 opacity: 1;
 font-weight: 400; 
}
.search-container {  
    margin: 0;
}

.zone-form .modal-content {
    padding: 10px;
}
.zone-form h6 {
    color:#17181E;
}
.zone-form label.form-label {
    color: #404252;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;

}

.thresper-input.input-group>.form-control {
    border-radius: 8px!important;
}

.thresper-input .input-group-text {
    color: #17181E;
    font-weight: 600;
    background: transparent;
}
.msd__actionrow .msd__action {
    font-weight: 600;
}
.delete-zone-mdl {
   padding: 10px 10px 15px;
}
.delete-zone-mdl .delete-zone-body {
    margin: 0;
}
.Usercontainer .top-tab-head {
    margin: 25px 30px 8px;
    border-radius: 10px;
    color: #2162cd;
    font-size: 14px;
    border: 1px solid #2162CD;
    box-shadow: none;
    padding: 8px 16px 9px;
    background: #FFF;
    display: inline-block;
    font-weight: 500;
    background: #ffff;
    font-family: 'Inter', sans-serif;
